### Recruit Restaurant Visitor Forecasting

In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd .read_csv)
from pandas import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

%matplotlib inline

pd.options.mode.chained_assignment = None  # default = 'warn'

In [2]:
from subprocess import check_output
print(check_output(["ls", "/Users/andoutakaaki/DIC_study/sprint8/input"]).decode("utf8"))

air_reserve.csv
air_store_info.csv
air_visit_data.csv
date_info.csv
hpg_reserve.csv
hpg_store_info.csv
sample_submission.csv
store_id_relation.csv

In [3]:
air_reserve = pd.read_csv("./input/air_reserve.csv")
air_info = pd.read_csv("./input/air_store_info.csv")
# visit_dateはdatetime型として扱えるようにparse_datesと定義
air_data = pd.read_csv("./input/air_visit_data.csv", parse_dates=['visit_date'])
date_info = pd.read_csv("./input/date_info.csv")
hpg_reserve = pd.read_csv("./input/hpg_reserve.csv")
hpg_store = pd.read_csv("./input/hpg_store_info.csv")
test_df = pd.read_csv("./input/sample_submission.csv")
store_id = pd.read_csv("./input/store_id_relation.csv")

### データセットの内容
全部で8つ。      
データは大きく分けて2種類あり、「ホットペッパー」と「Airレジ」（Airレジとは、リクルートライフスタイルが提供する、POSレジのアプリ。 スマホやタブレットなどのモバイルデバイスでPOSの導入を実現）      
各サービスの2016年〜2017年4月までの予約情報（予約日時や予約人数）が提供されている。

#### air_reserve.csv　
Airレジ経由の予約情報       
air_store_id – Airレジ固有のレストランID         
visit_datetime – 予約時のお店訪問予定時間        
reserve_datetime – 予約をした時の時間        
reserve_visitors – 予約人数

#### air_store_info.csv
Airレジのレストラン情報        
air_store_id – Airレジ固有ID    
air_genre_name – レストランのジャンル   
air_area_name – レストランの所属エリア    
latitude – 緯度    
longitude – 経度

#### air_visit_data.csv
Airレジの各レストランの日付ごとの実客数   
air_store_id – AirレジID   
visit_date – 日付   
visitors – 実客数

#### data_info.csv
カレンダー日付の基本的な情報

#### hpg_reserve.csv
ホットペッパー経由の予約情報    
hpg_store_id – ホットペッパー固有のレストランID    
visit_datetime – 予約時のお店訪問予定時間      
reserve_datetime – 予約をした時の時間     
reserve_visitors – 予約人数

#### hpg_store_info.csv
ホットペッパーのレストラン情報     
hpg_store_id – ホットペッパー固有ID     
air_genre_name – レストランのジャンル     
air_area_name – レストランの所属エリア      
latitude – 緯度     
longitude – 経度

#### sample_submission.csv
id – air_store_idとvisit_dateを連結させたid      
visitors – 予想客数（店＆日付のコンビネーション）

#### store_id_relation.csv
AirレジとホットペッパーのIDリレーション     
両サービスを使っているお店のみ     
hpg_store_id – ホットペッパー固有ID   
air_store_id – Airレジ固有ID

In [4]:
air_reserve.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [5]:
air_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [6]:
air_data.head()

           air_store_id visit_date  visitors
0  air_ba937bf13d40fb24 2016-01-13        25
1  air_ba937bf13d40fb24 2016-01-14        32
2  air_ba937bf13d40fb24 2016-01-15        29
3  air_ba937bf13d40fb24 2016-01-16        22
4  air_ba937bf13d40fb24 2016-01-18         6

In [7]:
air_data.shape

(252108, 3)

In [8]:
# レストランIDのひとつの実客数をみてみる
check_store = air_data[air_data['air_store_id'] == 'air_ba937bf13d40fb24']
check_store.describe()

         visitors
count  391.000000
mean    22.782609
std     11.810526
min      1.000000
25%     14.000000
50%     22.000000
75%     30.000000
max     61.000000

レストランID「air_ba937bf13d40fb24」では、平均22.7名、標準偏差11.81、最小1名〜最大61名が来店

In [9]:
 # visit_dateの確認
check_store.visit_date.describe()

count                     391
unique                    391
top       2016-09-08 00:00:00
freq                        1
first     2016-01-13 00:00:00
last      2017-04-22 00:00:00
Name: visit_date, dtype: object

「2016年1月13日〜2017年4月22日」の期間のデータ

In [10]:
date_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [11]:
hpg_reserve.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [12]:
hpg_store.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [13]:
test_df.head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [14]:
# 元々のIDからstore_idとvisit_dateを切り出します
test_df['store_id'] = test_df['id'].str[:20]
test_df['visit_date'] = test_df['id'].str[21:]
 
# 提出ファイルのサンプルでvisitorsは意味がないのでdrop
test_df.drop(['visitors'], axis=1, inplace=True)
 
# 日付の型をobjectからdatetimeに変換
test_df['visit_date'] = pd.to_datetime(test_df['visit_date'])
 
# 念のためカラム情報の確認
test_df.info()
 
# ヘッダー情報もみておきましょう
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32019 entries, 0 to 32018
Data columns (total 3 columns):
id            32019 non-null object
store_id      32019 non-null object
visit_date    32019 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 750.5+ KB

                                id              store_id visit_date
0  air_00a91d42b08b08d9_2017-04-23  air_00a91d42b08b08d9 2017-04-23
1  air_00a91d42b08b08d9_2017-04-24  air_00a91d42b08b08d9 2017-04-24
2  air_00a91d42b08b08d9_2017-04-25  air_00a91d42b08b08d9 2017-04-25
3  air_00a91d42b08b08d9_2017-04-26  air_00a91d42b08b08d9 2017-04-26
4  air_00a91d42b08b08d9_2017-04-27  air_00a91d42b08b08d9 2017-04-27

In [15]:
test_df.shape

(32019, 3)

In [16]:
store_id.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

### 評価指標
評価指標は、Airレジを使っている821店舗のレストランの2017年4月最終週〜2017年5月末日までの各日にちのお客さん来店数。sample_submission.csvに格納されている。全ての行のvisit（来客数）を予測する。

1.air_visit_dataに、過去の来客数データとして、日付、レストランID、実客数がある。曜日を追加して、レストランIDと曜日毎に実客数をまとめて中央値を算出        
2.各レストランの「曜日」「祝日フラグ」の項目にまとめて加重平均を算出       
3.中央値と加重平均で算出した数値の平均を最終の予測データとする

#### air_visit_data.csvを訓練データとして使うために前処理を行う        

1.visit_dateを基に曜日のデータ作成          
2.曜日とレストランIDを基にグルーピングして中央値を算出

In [17]:
 pd.to_datetime(air_data['visit_date'])

0        2016-01-13
1        2016-01-14
2        2016-01-15
3        2016-01-16
4        2016-01-18
5        2016-01-19
6        2016-01-20
7        2016-01-21
8        2016-01-22
9        2016-01-23
10       2016-01-25
11       2016-01-26
12       2016-01-27
13       2016-01-28
14       2016-01-29
15       2016-01-30
16       2016-02-03
17       2016-02-04
18       2016-02-05
19       2016-02-06
20       2016-02-08
21       2016-02-09
22       2016-02-10
23       2016-02-11
24       2016-02-12
25       2016-02-13
26       2016-02-15
27       2016-02-16
28       2016-02-17
29       2016-02-18
            ...
252078   2017-03-17
252079   2017-03-18
252080   2017-03-21
252081   2017-03-22
252082   2017-03-23
252083   2017-03-24
252084   2017-03-25
252085   2017-03-27
252086   2017-03-28
252087   2017-03-29
252088   2017-03-30
252089   2017-03-31
252090   2017-04-01
252091   2017-04-03
252092   2017-04-04
252093   2017-04-05
252094   2017-04-06
252095   2017-04-07
252096   2017-04-08
252097   2017-04-10
252098   2017-04-11
252099   2017-04-12
252100   2017-04-13
252101   2017-04-14
252102   2017-04-15
252103   2017-04-18
252104   2017-04-19
252105   2017-04-20
252106   2017-04-21
252107   2017-04-22
Name: visit_date, dtype: datetime64[ns]

In [18]:
pd.to_datetime(test_df['visit_date'])

0       2017-04-23
1       2017-04-24
2       2017-04-25
3       2017-04-26
4       2017-04-27
5       2017-04-28
6       2017-04-29
7       2017-04-30
8       2017-05-01
9       2017-05-02
10      2017-05-03
11      2017-05-04
12      2017-05-05
13      2017-05-06
14      2017-05-07
15      2017-05-08
16      2017-05-09
17      2017-05-10
18      2017-05-11
19      2017-05-12
20      2017-05-13
21      2017-05-14
22      2017-05-15
23      2017-05-16
24      2017-05-17
25      2017-05-18
26      2017-05-19
27      2017-05-20
28      2017-05-21
29      2017-05-22
           ...
31989   2017-05-02
31990   2017-05-03
31991   2017-05-04
31992   2017-05-05
31993   2017-05-06
31994   2017-05-07
31995   2017-05-08
31996   2017-05-09
31997   2017-05-10
31998   2017-05-11
31999   2017-05-12
32000   2017-05-13
32001   2017-05-14
32002   2017-05-15
32003   2017-05-16
32004   2017-05-17
32005   2017-05-18
32006   2017-05-19
32007   2017-05-20
32008   2017-05-21
32009   2017-05-22
32010   2017-05-23
32011   2017-05-24
32012   2017-05-25
32013   2017-05-26
32014   2017-05-27
32015   2017-05-28
32016   2017-05-29
32017   2017-05-30
32018   2017-05-31
Name: visit_date, dtype: datetime64[ns]

#### 日付を曜日へ変換

In [19]:
# 日付を曜日へ変換(0が月曜日〜6が日曜日)
air_data['dow'] = pd.to_datetime(air_data['visit_date']).dt.dayofweek
test_df['dow'] = pd.to_datetime(test_df['visit_date']).dt.dayofweek

In [20]:
air_data.head()

           air_store_id visit_date  visitors  dow
0  air_ba937bf13d40fb24 2016-01-13        25    2
1  air_ba937bf13d40fb24 2016-01-14        32    3
2  air_ba937bf13d40fb24 2016-01-15        29    4
3  air_ba937bf13d40fb24 2016-01-16        22    5
4  air_ba937bf13d40fb24 2016-01-18         6    0

In [21]:
test_df.head()

                                id              store_id visit_date  dow
0  air_00a91d42b08b08d9_2017-04-23  air_00a91d42b08b08d9 2017-04-23    6
1  air_00a91d42b08b08d9_2017-04-24  air_00a91d42b08b08d9 2017-04-24    0
2  air_00a91d42b08b08d9_2017-04-25  air_00a91d42b08b08d9 2017-04-25    1
3  air_00a91d42b08b08d9_2017-04-26  air_00a91d42b08b08d9 2017-04-26    2
4  air_00a91d42b08b08d9_2017-04-27  air_00a91d42b08b08d9 2017-04-27    3

In [22]:
# 過去データの曜日の中央値を算出
# pandasのagg関数で使うリストを作成
aggregation = {'visitors' : {'total_visitors' : 'median'}}
 
# air_dataからair_store_idとdowをグルーピングしてvisitorsの中央値（median）を算出
agg_data = air_data.groupby(['air_store_id', 'dow']).agg(aggregation).reset_index()
 
# agg_dataのカラム名をつける
agg_data.columns = ['air_store_id', 'dow', 'visitors']
agg_data['visitors']= agg_data['visitors']

agg_data.head(10)

           air_store_id  dow  visitors
0  air_00a91d42b08b08d9    0      19.0
1  air_00a91d42b08b08d9    1      24.5
2  air_00a91d42b08b08d9    2      28.0
3  air_00a91d42b08b08d9    3      30.0
4  air_00a91d42b08b08d9    4      35.5
5  air_00a91d42b08b08d9    5      11.0
6  air_00a91d42b08b08d9    6       2.0
7  air_0164b9927d20bcc3    0       6.0
8  air_0164b9927d20bcc3    1       8.0
9  air_0164b9927d20bcc3    2       8.0

In [23]:
# test_dfとagg_dataのstoreid_id、dowをすり合わせmergeさせる
merged = pd.merge(test_df, agg_data, how='left', left_on=['store_id', 'dow'], right_on=['air_store_id', 'dow'])
 
# idとvisitorsだけをfinalへ格納
final = merged[['id', 'visitors']]
 
# finalのヘッダー情報
final.head(10)

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23       2.0
1  air_00a91d42b08b08d9_2017-04-24      19.0
2  air_00a91d42b08b08d9_2017-04-25      24.5
3  air_00a91d42b08b08d9_2017-04-26      28.0
4  air_00a91d42b08b08d9_2017-04-27      30.0
5  air_00a91d42b08b08d9_2017-04-28      35.5
6  air_00a91d42b08b08d9_2017-04-29      11.0
7  air_00a91d42b08b08d9_2017-04-30       2.0
8  air_00a91d42b08b08d9_2017-05-01      19.0
9  air_00a91d42b08b08d9_2017-05-02      24.5

In [24]:
# NaNを探す
def missing_values_table(df): 
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum()/len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    return mis_val_table_ren_columns 

missing_values_table(final)

          Missing Values  % of Total Values
id                     0           0.000000
visitors             341           1.064993

visitorsに３４１個（1.06%)のNaNがある。

In [25]:
# visitorsのNaNへ0を入れておく
final.fillna(0, inplace=True)
missing_values_table(final)

          Missing Values  % of Total Values
id                     0                0.0
visitors               0                0.0

In [26]:
import glob
import re
# 全てのCSVをデータフレームに読み込む
dfs = { re.search('/([^/\.]*)\.csv', fn).group(1):pd.read_csv(fn) for fn in glob.glob('/Users/andoutakaaki/DIC_study/sprint8/input/*.csv')}
for k, v in dfs.items(): locals()[k] = v

print('data frames read:{}'.format(list(dfs.keys())))

data frames read:['air_store_info', 'date_info', 'store_id_relation', 'hpg_reserve', 'air_reserve', 'air_visit_data', 'sample_submission', 'hpg_store_info']

In [27]:
air_reserve = pd.read_csv("./input/air_reserve.csv")
air_info = pd.read_csv("./input/air_store_info.csv")
# visit_dateはdatetime型として扱えるようにparse_datesと定義
air_data = pd.read_csv("./input/air_visit_data.csv", parse_dates=['visit_date'])
date_info = pd.read_csv("./input/date_info.csv")
hpg_reserve = pd.read_csv("./input/hpg_reserve.csv")
hpg_store = pd.read_csv("./input/hpg_store_info.csv")
test_df = pd.read_csv("./input/sample_submission.csv")
store_id = pd.read_csv("./input/store_id_relation.csv")

In [28]:
for v in dfs.values():
    print(v)

             air_store_id         air_genre_name  \
0    air_0f0cdeee6c9bf3d7         Italian/French
1    air_7cc17a324ae5c7dc         Italian/French
2    air_fee8dcf4d619598e         Italian/French
3    air_a17f0778617c76e2         Italian/French
4    air_83db5aff8f50478e         Italian/French
5    air_99c3eae84130c1cb         Italian/French
6    air_f183a514cb8ff4fa         Italian/French
7    air_6b9fa44a9cf504a1         Italian/French
8    air_0919d54f0c9a24b8         Italian/French
9    air_2c6c79d597e48096         Italian/French
10   air_0164b9927d20bcc3         Italian/French
11   air_681f96e6a6595f82         Italian/French
12   air_ef920fa6f4b085f6         Italian/French
13   air_d3e7b5952cd09ccb         Italian/French
14   air_e64de0a6bf0739af         Italian/French
15   air_4ce7b17062a1bf73         Italian/French
16   air_290e7a57b390f78e         Italian/French
17   air_4579cb0669fd411b         Italian/French
18   air_63a750d8b4b6a976         Italian/French
19   air_9438d67241c81314         Italian/French
20   air_929d8513e3cdb423         Italian/French
21   air_6c1128955c58b690         Italian/French
22   air_638c35eb25e53eea         Italian/French
23   air_a7404a854919e990         Italian/French
24   air_f6cdaf7b7fdc6d78         Italian/French
25   air_df9355c47c5df9d3         Italian/French
26   air_bf617aa68d5f1cfa         Italian/French
27   air_a218912784bf767d         Italian/French
28   air_506fe758114df773         Italian/French
29   air_0b9038300f8b2b50         Italian/French
..                    ...                    ...
799  air_c7d30ab0e07f31d5                  Other
800  air_8a906e5801eac81c                  Other
801  air_efef1e3daecce07e                  Other
802  air_26f10355d9b4d82a                  Other
803  air_4254c3fc3ad078bd                  Other
804  air_82a6ae14151953ba                  Other
805  air_24e8414b9b07decb                  Other
806  air_5e339a1f364cdb00                  Other
807  air_d07e57b21109304a           Western food
808  air_2cee51fa6fdf6c0d           Western food
809  air_12c4fb7a423df20d           Western food
810  air_25d8e5cc57dd87d9           Western food
811  air_57c9eea1a2b66e65           Western food
812  air_0728814bd98f7367           Western food
813  air_79f528087f49df06           Western food
814  air_b45b8e456f53942a           Western food
815  air_0a74a5408a0b8642           Western food
816  air_890d7e28e8eaaa11           Western food
817  air_bedd35489e666605           Western food
818  air_daa7947e1c47f5ed           Western food
819  air_e9ebf7fc520ac76a           Western food
820  air_f4936b91c9addbf0           Western food
821  air_47beaffd3806c979           Western food
822  air_edd5e3d696a5811b           Western food
823  air_6b65745d432fd77f  International cuisine
824  air_9bf595ef095572fb  International cuisine
825  air_764f71040a413d4d                  Asian
826  air_10bbe8acd943d8f6                  Asian
827  air_7514d90009613cd6          Karaoke/Party
828  air_c8fe396d6c46275d          Karaoke/Party

                             air_area_name   latitude   longitude
0             Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
1             Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
2             Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
3             Hyōgo-ken Kōbe-shi Kumoidōri  34.695124  135.197852
4             Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
5             Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
6             Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
7             Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
8             Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
9             Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
10            Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
11            Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
12            Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
13            Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
14            Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
15            Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
16            Tōkyō-to Minato-ku Shibakōen  35.658068  139.751599
17          Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813
18          Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813
19          Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813
20          Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813
21          Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813
22          Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813
23          Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813
24          Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813
25          Fukuoka-ken Fukuoka-shi Daimyō  33.589216  130.392813
26           Tōkyō-to Setagaya-ku Setagaya  35.646572  139.653247
27           Tōkyō-to Setagaya-ku Setagaya  35.646572  139.653247
28           Tōkyō-to Setagaya-ku Setagaya  35.646572  139.653247
29           Tōkyō-to Setagaya-ku Setagaya  35.646572  139.653247
..                                     ...        ...         ...
799          Tōkyō-to Taitō-ku Higashiueno  35.712607  139.779996
800          Tōkyō-to Taitō-ku Higashiueno  35.712607  139.779996
801        Ōsaka-fu Ōsaka-shi Kyōmachibori  34.687697  135.495413
802        Ōsaka-fu Ōsaka-shi Kyōmachibori  34.687697  135.495413
803              Tōkyō-to Bunkyō-ku Kasuga  35.708068  139.752167
804              Tōkyō-to Bunkyō-ku Kasuga  35.708068  139.752167
805            Tōkyō-to Shibuya-ku Higashi  35.653217  139.711036
806            Tōkyō-to Shibuya-ku Higashi  35.653217  139.711036
807            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
808            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
809            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
810            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
811     Tōkyō-to Suginami-ku Asagayaminami  35.699566  139.636438
812     Tōkyō-to Suginami-ku Asagayaminami  35.699566  139.636438
813     Tōkyō-to Suginami-ku Asagayaminami  35.699566  139.636438
814  Hokkaidō Sapporo-shi Minami 3 Jōnishi  43.055460  141.340956
815  Hokkaidō Sapporo-shi Minami 3 Jōnishi  43.055460  141.340956
816               Tōkyō-to Chūō-ku Tsukiji  35.670651  139.771861
817               Tōkyō-to Chūō-ku Tsukiji  35.670651  139.771861
818               Tōkyō-to Chūō-ku Tsukiji  35.670651  139.771861
819          Tōkyō-to Itabashi-ku Itabashi  35.751165  139.709244
820          Tōkyō-to Itabashi-ku Itabashi  35.751165  139.709244
821        Tōkyō-to Chiyoda-ku Kudanminami  35.694003  139.753595
822        Tōkyō-to Chiyoda-ku Kudanminami  35.694003  139.753595
823            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
824            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
825            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
826            Tōkyō-to Shibuya-ku Shibuya  35.661777  139.704051
827  Hokkaidō Sapporo-shi Minami 3 Jōnishi  43.055460  141.340956
828  Hokkaidō Sapporo-shi Minami 3 Jōnishi  43.055460  141.340956

[829 rows x 5 columns]
    calendar_date day_of_week  holiday_flg
0      2016-01-01      Friday            1
1      2016-01-02    Saturday            1
2      2016-01-03      Sunday            1
3      2016-01-04      Monday            0
4      2016-01-05     Tuesday            0
5      2016-01-06   Wednesday            0
6      2016-01-07    Thursday            0
7      2016-01-08      Friday            0
8      2016-01-09    Saturday            0
9      2016-01-10      Sunday            0
10     2016-01-11      Monday            1
11     2016-01-12     Tuesday            0
12     2016-01-13   Wednesday            0
13     2016-01-14    Thursday            0
14     2016-01-15      Friday            0
15     2016-01-16    Saturday            0
16     2016-01-17      Sunday            0
17     2016-01-18      Monday            0
18     2016-01-19     Tuesday            0
19     2016-01-20   Wednesday            0
20     2016-01-21    Thursday            0
21     2016-01-22      Friday            0
22     2016-01-23    Saturday            0
23     2016-01-24      Sunday            0
24     2016-01-25      Monday            0
25     2016-01-26     Tuesday            0
26     2016-01-27   Wednesday            0
27     2016-01-28    Thursday            0
28     2016-01-29      Friday            0
29     2016-01-30    Saturday            0
..            ...         ...          ...
487    2017-05-02     Tuesday            0
488    2017-05-03   Wednesday            1
489    2017-05-04    Thursday            1
490    2017-05-05      Friday            1
491    2017-05-06    Saturday            0
492    2017-05-07      Sunday            0
493    2017-05-08      Monday            0
494    2017-05-09     Tuesday            0
495    2017-05-10   Wednesday            0
496    2017-05-11    Thursday            0
497    2017-05-12      Friday            0
498    2017-05-13    Saturday            0
499    2017-05-14      Sunday            0
500    2017-05-15      Monday            0
501    2017-05-16     Tuesday            0
502    2017-05-17   Wednesday            0
503    2017-05-18    Thursday            0
504    2017-05-19      Friday            0
505    2017-05-20    Saturday            0
506    2017-05-21      Sunday            0
507    2017-05-22      Monday            0
508    2017-05-23     Tuesday            0
509    2017-05-24   Wednesday            0
510    2017-05-25    Thursday            0
511    2017-05-26      Friday            0
512    2017-05-27    Saturday            0
513    2017-05-28      Sunday            0
514    2017-05-29      Monday            0
515    2017-05-30     Tuesday            0
516    2017-05-31   Wednesday            0

[517 rows x 3 columns]
             air_store_id          hpg_store_id
0    air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1    air_a24bf50c3e90d583  hpg_c34b496d0305a809
2    air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3    air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4    air_965b2e0cf4119003  hpg_653238a84804d8e7
5    air_a38f25e3399d1b25  hpg_50378da9ffb9b6cd
6    air_3c938075889fc059  hpg_349b1b92f98b175e
7    air_68301bcb11e2f389  hpg_2c09f3abb2220659
8    air_5f6fa1b897fe80d5  hpg_40aff6385800ebb1
9    air_00a91d42b08b08d9  hpg_fbe603376b5980fc
10   air_ef789667e2e6fe96  hpg_f76ad2d2d0134bdd
11   air_e89735e80d614a7e  hpg_b0cbb707b862dde7
12   air_8f3b563416efc6ad  hpg_d12fb3b2b4129cd6
13   air_0a74a5408a0b8642  hpg_2ded824e690c414a
14   air_97958e7fce98b6a3  hpg_69bfc004fd50cd31
15   air_48f4da6223571da4  hpg_832ba309e6699258
16   air_ee3ba9af184c6c82  hpg_fc892fe8d342a787
17   air_b2d97bd2337c5ba7  hpg_67c2b78265118491
18   air_32b02ba5dc2027f4  hpg_168a90866d6e606d
19   air_646b93e336f0dded  hpg_b3de3ba6437e5a11
20   air_4cca5666eaf5c709  hpg_f83413cde79ac5e7
21   air_55c3627912b9c849  hpg_9d140ea335b9efd4
22   air_25c583983246b7b0  hpg_66733016f2ac9ee8
23   air_08ef81d5b7a0d13f  hpg_ba2ce254969629b8
24   air_f2c5a1f24279c531  hpg_9668001cf2b8dc74
25   air_fcfbdcf7b1f82c6e  hpg_0b53e00789c2eafe
26   air_fcd4492c83f1c6b9  hpg_218a1ea95def8ea3
27   air_b45b8e456f53942a  hpg_a85b37424291216b
28   air_90f0efbb702d77b7  hpg_1f7bc96cada52483
29   air_2fc478dc9f0a6b31  hpg_2d0a73d3f1cb646d
..                    ...                   ...
120  air_9241121af22ff1d6  hpg_49dbe1fd79450e55
121  air_5acc13d655a6e8b2  hpg_1f9643b5673938d9
122  air_831658500aa7c846  hpg_f39996d4f0ebcb64
123  air_622375b4815cf5cb  hpg_ab64d4038f396dc3
124  air_968d72c12eed09f0  hpg_4dabe28f13a5b993
125  air_fdc02ec4a3d21ea4  hpg_528734c946fae58b
126  air_789466e488705c93  hpg_4ca41b70c41bc844
127  air_2a485b92210c98b5  hpg_dd709beb78198f38
128  air_6b942d5ebbc759c2  hpg_3253426a007cf3eb
129  air_1d1e8860ae04f8e9  hpg_2fcae64da5287bf5
130  air_707d4b6328f2c2df  hpg_7acec6bb6ec9d98e
131  air_32c61b620a766138  hpg_d5ca709664abea20
132  air_082908692355165e  hpg_b8715d0ac52b1763
133  air_7514d90009613cd6  hpg_08def9f764fcca4c
134  air_cbe867adcf44e14f  hpg_0183ec352e38903c
135  air_1f1390a8be2272b3  hpg_306ff4d17f7a1efd
136  air_f690c42545146e0a  hpg_0dc016db530f5c33
137  air_96743eee94114261  hpg_a9d42bc9b56916f4
138  air_6c91a28278a16f64  hpg_945c2807cef88022
139  air_d00161e19f08290b  hpg_05fada27f04e4383
140  air_f96765e800907c77  hpg_265bd3fe806f8b6e
141  air_08cb3c4ee6cd6a22  hpg_dc639640420bde5f
142  air_32460819c7600037  hpg_ac318be70910278f
143  air_c6a164dd4060e960  hpg_8ce73856596a7794
144  air_09661c0f3259cc04  hpg_ef517ab154f66a8e
145  air_b8925441167c3152  hpg_0cc0abae3a8b52de
146  air_f8233ad00755c35c  hpg_098e4dd30e54fee6
147  air_6607fe3671242ce3  hpg_1004356dc8ab69ec
148  air_ccd19a5bc5573ae5  hpg_df22bf146d2c7e19
149  air_465bddfed3353b23  hpg_23c5945dc1a72454

[150 rows x 2 columns]
                 hpg_store_id       visit_datetime     reserve_datetime  \
0        hpg_c63f6f42e088e50f  2016-01-01 11:00:00  2016-01-01 09:00:00
1        hpg_dac72789163a3f47  2016-01-01 13:00:00  2016-01-01 06:00:00
2        hpg_c8e24dcf51ca1eb5  2016-01-01 16:00:00  2016-01-01 14:00:00
3        hpg_24bb207e5fd49d4a  2016-01-01 17:00:00  2016-01-01 11:00:00
4        hpg_25291c542ebb3bc2  2016-01-01 17:00:00  2016-01-01 03:00:00
5        hpg_28bdf7a336ec6a7b  2016-01-01 17:00:00  2016-01-01 15:00:00
6        hpg_2a01a042bca04ad9  2016-01-01 17:00:00  2016-01-01 17:00:00
7        hpg_2a84dd9f4c140b82  2016-01-01 17:00:00  2016-01-01 15:00:00
8        hpg_2ad179871696901f  2016-01-01 17:00:00  2016-01-01 13:00:00
9        hpg_2c1d989eedb0ff83  2016-01-01 17:00:00  2016-01-01 15:00:00
10       hpg_33ec1499d6b13141  2016-01-01 17:00:00  2016-01-01 15:00:00
11       hpg_3db9d09c5f93950a  2016-01-01 17:00:00  2016-01-01 16:00:00
12       hpg_41b71f51a8f65c1d  2016-01-01 17:00:00  2016-01-01 09:00:00
13       hpg_41b71f51a8f65c1d  2016-01-01 17:00:00  2016-01-01 15:00:00
14       hpg_4a4bfa8cdf978d5f  2016-01-01 17:00:00  2016-01-01 14:00:00
15       hpg_4e4f1f49ac180e72  2016-01-01 17:00:00  2016-01-01 16:00:00
16       hpg_52b68a5ac1a1b391  2016-01-01 17:00:00  2016-01-01 16:00:00
17       hpg_56ed47abb3e3a1ab  2016-01-01 17:00:00  2016-01-01 13:00:00
18       hpg_62f22eb77320e09b  2016-01-01 17:00:00  2016-01-01 15:00:00
19       hpg_6ab4b09e096005ed  2016-01-01 17:00:00  2016-01-01 16:00:00
20       hpg_6e88419fb20b4340  2016-01-01 17:00:00  2016-01-01 07:00:00
21       hpg_7d3e4dd0eb997f0b  2016-01-01 17:00:00  2016-01-01 11:00:00
22       hpg_91513661ad381d45  2016-01-01 17:00:00  2016-01-01 16:00:00
23       hpg_91cdca51ab93bab5  2016-01-01 17:00:00  2016-01-01 16:00:00
24       hpg_93bbabe64dcaa698  2016-01-01 17:00:00  2016-01-01 16:00:00
25       hpg_9d165bdbb41cbf6a  2016-01-01 17:00:00  2016-01-01 11:00:00
26       hpg_a508a4e8b427279a  2016-01-01 17:00:00  2016-01-01 10:00:00
27       hpg_a945c28460681526  2016-01-01 17:00:00  2016-01-01 13:00:00
28       hpg_ac831e5e9f5a207d  2016-01-01 17:00:00  2016-01-01 07:00:00
29       hpg_b10a0b7752b257b0  2016-01-01 17:00:00  2016-01-01 16:00:00
...                       ...                  ...                  ...
2000290  hpg_24bce7c3238bdd5c  2017-05-31 17:00:00  2017-03-01 09:00:00
2000291  hpg_64a272cc510c3c45  2017-05-31 17:00:00  2017-04-14 09:00:00
2000292  hpg_c0f9a20ccc8b6a19  2017-05-31 17:00:00  2017-04-19 16:00:00
2000293  hpg_fae6c96189b4a122  2017-05-31 17:00:00  2017-04-19 16:00:00
2000294  hpg_fbd956d9e2708b6f  2017-05-31 17:00:00  2017-04-14 13:00:00
2000295  hpg_12f78d19863d94f9  2017-05-31 18:00:00  2017-04-19 15:00:00
2000296  hpg_1567f80971c47572  2017-05-31 18:00:00  2017-03-08 17:00:00
2000297  hpg_289510875034750e  2017-05-31 18:00:00  2017-04-18 18:00:00
2000298  hpg_7d67f66aa95c5f7c  2017-05-31 18:00:00  2017-04-21 07:00:00
2000299  hpg_7fe4899030e471e5  2017-05-31 18:00:00  2017-03-30 11:00:00
2000300  hpg_8a8a4200ec9b874c  2017-05-31 18:00:00  2017-04-14 18:00:00
2000301  hpg_aae269b996534942  2017-05-31 18:00:00  2017-04-20 21:00:00
2000302  hpg_c787d8ced5ce77f7  2017-05-31 18:00:00  2017-04-19 13:00:00
2000303  hpg_ca007a7397fff2a5  2017-05-31 18:00:00  2017-04-16 19:00:00
2000304  hpg_cfbe8cf8e5c5e5df  2017-05-31 18:00:00  2017-04-17 13:00:00
2000305  hpg_d92cd8178ec0ece7  2017-05-31 18:00:00  2017-04-21 14:00:00
2000306  hpg_ed715f88434d83db  2017-05-31 18:00:00  2017-04-20 21:00:00
2000307  hpg_13776b7dde4818cf  2017-05-31 19:00:00  2017-04-17 21:00:00
2000308  hpg_77d300f2b1f22a8a  2017-05-31 19:00:00  2017-03-07 21:00:00
2000309  hpg_963723c9c8996b8b  2017-05-31 19:00:00  2017-03-13 11:00:00
2000310  hpg_9bb9766cd21de410  2017-05-31 19:00:00  2017-03-23 20:00:00
2000311  hpg_b8c39e61f5461e6e  2017-05-31 19:00:00  2017-04-22 00:00:00
2000312  hpg_ba19e6108767ebb6  2017-05-31 19:00:00  2017-04-18 01:00:00
2000313  hpg_c5ec63f52e4a7e9e  2017-05-31 19:00:00  2017-04-17 18:00:00
2000314  hpg_d9259eae877731e3  2017-05-31 19:00:00  2017-04-20 21:00:00
2000315  hpg_2b293477ea4642fb  2017-05-31 20:00:00  2017-04-19 07:00:00
2000316  hpg_f922aeca48ca5a29  2017-05-31 20:00:00  2017-03-19 00:00:00
2000317  hpg_e9151de687b93aa3  2017-05-31 21:00:00  2017-04-14 20:00:00
2000318  hpg_fae6c96189b4a122  2017-05-31 21:00:00  2017-04-19 17:00:00
2000319  hpg_0b70de808b55ad1e  2017-05-31 23:00:00  2017-04-21 13:00:00

         reserve_visitors
0                       1
1                       3
2                       2
3                       5
4                      13
5                       2
6                       2
7                       2
8                       2
9                       6
10                      2
11                      2
12                      2
13                      2
14                      5
15                      4
16                      2
17                      4
18                      5
19                      2
20                      5
21                      4
22                      5
23                      3
24                      2
25                      4
26                      4
27                      2
28                      2
29                      7
...                   ...
2000290                40
2000291                42
2000292                48
2000293                 2
2000294                 4
2000295                10
2000296                 2
2000297                25
2000298                38
2000299                 3
2000300                30
2000301                30
2000302                 3
2000303                29
2000304                10
2000305                15
2000306                 2
2000307                 3
2000308                 8
2000309                20
2000310                 6
2000311                 2
2000312                 4
2000313                 3
2000314                 7
2000315                 2
2000316                 3
2000317                49
2000318                 9
2000319                 6

[2000320 rows x 4 columns]
               air_store_id       visit_datetime     reserve_datetime  \
0      air_877f79706adbfb06  2016-01-01 19:00:00  2016-01-01 16:00:00
1      air_db4b38ebe7a7ceff  2016-01-01 19:00:00  2016-01-01 19:00:00
2      air_db4b38ebe7a7ceff  2016-01-01 19:00:00  2016-01-01 19:00:00
3      air_877f79706adbfb06  2016-01-01 20:00:00  2016-01-01 16:00:00
4      air_db80363d35f10926  2016-01-01 20:00:00  2016-01-01 01:00:00
5      air_db80363d35f10926  2016-01-02 01:00:00  2016-01-01 16:00:00
6      air_db80363d35f10926  2016-01-02 01:00:00  2016-01-01 15:00:00
7      air_3bb99a1fe0583897  2016-01-02 16:00:00  2016-01-02 14:00:00
8      air_3bb99a1fe0583897  2016-01-02 16:00:00  2016-01-01 20:00:00
9      air_2b8b29ddfd35018e  2016-01-02 17:00:00  2016-01-02 17:00:00
10     air_6b15edd1b4fbb96a  2016-01-02 17:00:00  2016-01-01 22:00:00
11     air_6b15edd1b4fbb96a  2016-01-02 17:00:00  2016-01-01 12:00:00
12     air_6b15edd1b4fbb96a  2016-01-02 17:00:00  2016-01-02 16:00:00

In [29]:
# data_infoの祝日フラグが1のデータ確認
date_info[date_info['holiday_flg'] == 1].head(10)

    calendar_date day_of_week  holiday_flg
0      2016-01-01      Friday            1
1      2016-01-02    Saturday            1
2      2016-01-03      Sunday            1
10     2016-01-11      Monday            1
41     2016-02-11    Thursday            1
79     2016-03-20      Sunday            1
80     2016-03-21      Monday            1
119    2016-04-29      Friday            1
123    2016-05-03     Tuesday            1
124    2016-05-04   Wednesday            1

#### 祝日を0として処理する

In [30]:
# date_infoから土日で祝日フラグが1を探してweekend_hdaysに格納
weekend_hdays = date_info.apply((lambda x:(x.day_of_week=='Sunday' or x.day_of_week=='Saturday') and x.holiday_flg==1), axis=1)
 
# date_infoの該当の箇所のフラグを1から0へ更新をする
date_info.loc[weekend_hdays, 'holiday_flg'] = 0

#### 古い日付には重みを低く、予測しなくはいけない2017年4月の直近のデータには重みを高くする
重みの計算..(該当の日付＋1　)÷ 全部の日付の個数

In [31]:
date_info['weight'] = (date_info.index + 1) / len(date_info)
# 値が小さいのがより昔のデータ

In [32]:
date_info.head()

  calendar_date day_of_week  holiday_flg    weight
0    2016-01-01      Friday            1  0.001934
1    2016-01-02    Saturday            0  0.003868
2    2016-01-03      Sunday            0  0.005803
3    2016-01-04      Monday            0  0.007737
4    2016-01-05     Tuesday            0  0.009671

In [33]:
date_info.tail()

    calendar_date day_of_week  holiday_flg    weight
512    2017-05-27    Saturday            0  0.992263
513    2017-05-28      Sunday            0  0.994197
514    2017-05-29      Monday            0  0.996132
515    2017-05-30     Tuesday            0  0.998066
516    2017-05-31   Wednesday            0  1.000000

In [34]:
# air_visit_dataと重みを追加したdate_infoをマージさせてvisit_dataを作成
# visit_dataから不必要なcalendar_dateを落とす
visit_data = air_data.merge(date_info, left_on='visit_date', right_on='calendar_date', how='left')
visit_data.drop('calendar_date', axis=1, inplace=True)
 
# visit_dataの実客数にnp.log1pの対数関数を使って処理
visit_data['visitors'] = visit_data.visitors.map(pd.np.log1p)
 
# visit_dataの確認
visit_data.head(10)

           air_store_id visit_date  visitors day_of_week  holiday_flg  weight
0  air_ba937bf13d40fb24 2016-01-13  3.258097         NaN          NaN     NaN
1  air_ba937bf13d40fb24 2016-01-14  3.496508         NaN          NaN     NaN
2  air_ba937bf13d40fb24 2016-01-15  3.401197         NaN          NaN     NaN
3  air_ba937bf13d40fb24 2016-01-16  3.135494         NaN          NaN     NaN
4  air_ba937bf13d40fb24 2016-01-18  1.945910         NaN          NaN     NaN
5  air_ba937bf13d40fb24 2016-01-19  2.302585         NaN          NaN     NaN
6  air_ba937bf13d40fb24 2016-01-20  3.465736         NaN          NaN     NaN
7  air_ba937bf13d40fb24 2016-01-21  3.091042         NaN          NaN     NaN
8  air_ba937bf13d40fb24 2016-01-22  2.944439         NaN          NaN     NaN
9  air_ba937bf13d40fb24 2016-01-23  3.295837         NaN          NaN     NaN

In [35]:
# air_dataと重みを追加したdate_infoをマージさせてvisit_dataを作成
# visit_dataから不必要なcalendar_dateを落とす
visit_data = air_data.merge(date_info, left_on='visit_date', right_on='calendar_date', how='left')
visit_data.drop('calendar_date', axis=1, inplace=True)
 
# visit_dataの実客数にnp.log1pの対数関数を使って処理
visit_data['visitors'] = visit_data.visitors.map(pd.np.log1p)
 
# visit_dataの確認
visit_data.head(10)

           air_store_id visit_date  visitors day_of_week  holiday_flg  weight
0  air_ba937bf13d40fb24 2016-01-13  3.258097         NaN          NaN     NaN
1  air_ba937bf13d40fb24 2016-01-14  3.496508         NaN          NaN     NaN
2  air_ba937bf13d40fb24 2016-01-15  3.401197         NaN          NaN     NaN
3  air_ba937bf13d40fb24 2016-01-16  3.135494         NaN          NaN     NaN
4  air_ba937bf13d40fb24 2016-01-18  1.945910         NaN          NaN     NaN
5  air_ba937bf13d40fb24 2016-01-19  2.302585         NaN          NaN     NaN
6  air_ba937bf13d40fb24 2016-01-20  3.465736         NaN          NaN     NaN
7  air_ba937bf13d40fb24 2016-01-21  3.091042         NaN          NaN     NaN
8  air_ba937bf13d40fb24 2016-01-22  2.944439         NaN          NaN     NaN
9  air_ba937bf13d40fb24 2016-01-23  3.295837         NaN          NaN     NaN

### コーディング
ある日のある店舗の実際の来店数が30人であったとするとき、横軸に推定人数 p、縦軸に指標値を配置した折れ線グラフを描け。KaggleのLeaderboardの1位のスコアの場合、実際の来店数との誤差は何人程度であるかを求めよ。

### EDA

与えられたデータを整理し、少なくとも以下のグラフや表を出力せよ。平均値だけではなく、最大値や中央値なども確認できると良い。

折れ線グラフ（横軸：日にち、縦軸：全てのAirREGI登録店の来店数の平均値）
折れ線グラフ（横軸：日にち、縦軸：AirREGIで予約された席数の平均値）
棒グラフ（横軸：曜日、縦軸：全てのAirREGI登録店の来店数の平均値）
棒グラフ（横軸：holiday_flgが0か1か、縦軸：全てのAirREGI登録店の来店数の平均値）
棒グラフ（横軸：土日祝かどうか、縦軸：全てのAirREGI登録店の来店数の平均値）
棒グラフ（横軸：AirREGI登録店のジャンル、縦軸：登録店数）
棒グラフ（横軸：AirREGI登録店の都道府県、縦軸：登録店数）
表（Hot Pepper GourmetとAirREGIの登録店舗数。重複が何店舗かの確認）
以下の関数を使いこなすことが重要である。

今回は複数のcsvファイルにデータが別れているため、ある列を軸に結合するためにmergeを使用する。
また、条件ごとの来店数の平均値などを求めるためには、groupbyを使用する。